html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #333;  
    color: white;
    font-family: 'Fira Code', monospace;  
}

div {
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 2em;
}


nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}


nav ul li {
    margin: 10px 0;
}


nav ul li a {
    text-decoration: none;
    color: #ffcc00;            
    background-color: #555;    
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #ffcc00; 
    font-size: 1.1em;
    display: inline-block;      
    transition: background-color 0.3s ease, color 0.3s ease; 
}


nav ul li a:hover {
    background-color: #777;
    color: #ffcc00;       
    border-color: #ffcc00;
}
